In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Eduhub Data.csv')
df.head()

,Subjects,Script Key,Grade,Video Release Month,Script Due Date,Actual Script Closed,Storyboard Due Date,Actual Storyboard Closed,Shoot Due Date,Actual Shoot Closed
0,Maths,SK06ma1401,6,March,29/10/22,29-Sep-22,30-Sep-22,30-Sep-22,01-Oct-22,01-Oct-22
1,Maths,SK06ma1402,6,March,29-Sep-22,29-Sep-22,30-Sep-22,30-Sep-22,01-Oct-22,01-Oct-22
2,Maths,SK06ma1403,6,March,29-Sep-22,29-Sep-22,30-Sep-22,30-Sep-22,01-Oct-22,01-Oct-22
3,Maths,SK06ma1404,6,March,29-Sep-22,29-Sep-22,30-Sep-22,30-Sep-22,01-Oct-22,01-Oct-22
4,Maths,SK06ma1406,6,March,29-Sep-22,29-Sep-22,03-Oct-22,03-Oct-22,10-Oct-22,10-Oct-22

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Subjects                  2580 non-null   object
 1   Script Key                2580 non-null   object
 2   Grade                     2580 non-null   int64
 3   Video Release Month       1817 non-null   object
 4   Script Due Date           2579 non-null   object
 5   Actual Script Closed      1781 non-null   object
 6   Storyboard Due Date       2576 non-null   object
 7   Actual Storyboard Closed  1154 non-null   object
 8   Shoot Due Date            2565 non-null   object
 9   Actual Shoot Closed       1425 non-null   object
dtypes: int64(1), object(9)
memory usage: 201.7+ KB

### Duplicate rows

In [4]:
df.duplicated().sum()

0

### Missing values

In [5]:
df.isna().sum()

Subjects                       0
Script Key                     0
Grade                          0
Video Release Month          763
Script Due Date                1
Actual Script Closed         799
Storyboard Due Date            4
Actual Storyboard Closed    1426
Shoot Due Date                15
Actual Shoot Closed         1155
dtype: int64

### Remove the Nan containing rows from due date

In [10]:
#df['Script Due Date'].dropna(axis=0, inplace=True)
#df['Storyboard Due Date'].dropna(axis=0, inplace=True)
#df['Shoot Due Date'].dropna(axis=0, inplace=True)
df.dropna(inplace=True)
df.isna().sum()

Subjects                    0
Script Key                  0
Grade                       0
Video Release Month         0
Script Due Date             0
Actual Script Closed        0
Storyboard Due Date         0
Actual Storyboard Closed    0
Shoot Due Date              0
Actual Shoot Closed         0
dtype: int64

In [11]:
df.shape

(1057, 10)

In [13]:
df.to_csv('EduHub Data Clean.csv', index=False)